body{
	background-image: url("./lego-pegs-white.svg");
	background-size: 500px;
    background-repeat: repeat;
    font-family: 'Lato', Helvetica, sans-serif;
}

.main-container{
	height: 100vh;
}

#main-card{
	max-width: 550px;
}