body{
	background-image: url("./lego-pegs.svg");
	background-size: 1500px;
    background-repeat: repeat;
    background-color: #000;
    font-family: 'Lato', Helvetica, sans-serif;
}

.main-container{
	height: 100vh;
}

#main-card{
	max-width: 600px;
}